<div class="bg-light p-5 rounded-lg m-3 animated fadeIn fast">
  <h1 class="display-4">Comic App</h1>
  <p class="lead">
    Esta es una aplicacion de comics
  </p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Libero dolor reprehenderit quod, quia nobis harum minima
    quam eveniet! Ut praesentium, vel at rem nesciunt itaque earum cum veritatis
    impedit mollitia. Obcaecati quis rem fuga ipsam animi eum vitae cum
    assumenda incidunt. Rem nam et minus! Nostrum quos dignissimos illo harum
    iusto ipsa cumque molestias quibusdam, corporis facere eveniet modi debitis.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
